{% extends 'base.html.twig' %}

{% block title %}Hello StandarController!{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1 class="my-5">¡Registrate!</h1>
        {{ form(register_form) }}
    </div>
{% endblock %}
